<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App3</title>

    <style>
       
       
    </style>
</head>

<body>
    <h1>MCQ Generator</h1>

    <main>
        <section>
            <form method='POST' action="http://localhost:5000/mcq">

                <ol class = "mcq">
                    <li>Which of the following is server Side</li>
                    <input type="radio" id="html" name="q1" value="HTML">
                    <label for="html">HTML</label><br>
                    <input type="radio" id="css" name="q1" value="CSS">
                    <label for="css">CSS</label><br>
                    <input type="radio" id="javascript" name="q1" value="JavaScript">
                    <label for="javascript">JavaScript</label>
                    <br><br>
                     

                    
                        <li>Which of the following is server Side</li>
                        <input type="radio" id="html" name="q2" value="HTML">
                        <label for="html">HTML</label><br>
                        <input type="radio" id="css" name="q2" value="CSS">
                        <label for="css">CSS</label><br>
                        <input type="radio" id="javascript" name="q2" value="JavaScript">
                        <label for="javascript">JavaScript</label>
                        <br><br>
                        <hr>

                        
                        <li>Which of the following is server Side</li>
                        <input type="radio" id="html" name="q3" value="HTML">
                        <label for="html">HTML</label><br>
                        <input type="radio" id="css" name="q3" value="CSS">
                        <label for="css">CSS</label><br>
                        <input type="radio" id="javascript" name="q3" value="JavaScript">
                        <label for="javascript">JavaScript</label>
                        <br><br>
                        <hr> 

                        
                        <li>Which of the following is server Side</li>
                        <input type="radio" id="html" name="q4" value="HTML">
                        <label for="html">HTML</label><br>
                        <input type="radio" id="css" name="q4" value="CSS">
                        <label for="css">CSS</label><br>
                        <input type="radio" id="javascript" name="q4" value="JavaScript">
                        <label for="javascript">JavaScript</label>
                        <br><br>
                        <hr>

                        
                        <li>Which of the following is server Side</li>
                        <input type="radio" id="html" name="q5" value="HTML">
                        <label for="html">HTML</label><br>
                        <input type="radio" id="css" name="q5" value="CSS">
                        <label for="css">CSS</label><br>
                        <input type="radio" id="javascript" name="q5" value="JavaScript">
                        <label for="javascript">JavaScript</label>
                        <br><br>
                        <hr>

                        
                        
                    
                </ol>
               
               
               
                <input type="submit" value="submit">
                
            </form>
        </section>
    </main>


    <footer>

    </footer>
</body>

</html>


<!-- 
<html>
<body>
<form method="POST" action="http://localhost:5000/mcq">
Q1 Which of the following is  server side <br>
<input type="radio" id="html" name="q1" value="HTML">
<label for="html">HTML</label><br>
<input type="radio" id="css" name="q1" value="CSS">
<label for="css">CSS</label><br>
<input type="radio" id="javascript" name="q1" value="JavaScript">
<label for="javascript">JavaScript</label>
<br><br><hr>
<input type="submit" value="submit">
</form>
</body>
</html> -->